@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #EEF5FF;
  margin: 0;
  padding: 40px;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.multi-step-form {
  display: flex;
  flex-direction: row;
  min-width: 70vw;
  max-width: 70vw;
  min-height: 85vh;
  max-height: 85vh;
  margin: auto;
  background: white;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.sidebar {
  width: 250px;
  background-color: #483eff;
  background: #4a90e2 url("images/bg-sidebar-desktop.svg") no-repeat;
  background-size: cover;
  color: white;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}


.step {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.step .circle {
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  font-weight: 700;
  cursor: pointer;
}

.step.active .circle {
  background-color: #C6E9FF;
  color: #483eff;
  cursor: pointer;
}

.step-label {
  font-size: 12px;
  opacity: 0.75;
  margin: 0;
  margin-bottom: 2px;
}

.step-text h4 {
  font-size: 14px;
  margin: 0;
  letter-spacing: 1px;
}


/* Form Content */
.form-content {
  width: 80vw;
  padding: 30px;
  margin-top: 50px;
  height: 100vh;
  margin-left: 40px;
}

.step-content {
  display: none;
  padding: 20px;
  background: #fff;
 transition: all 0.3s ease-in-out;

}

.step-content.active {
  display: block;
}

/* Typography */

.form-content h2 {
  color: #032b56;
  font-size: 28px;
  font-weight: 700; 
  margin-top: -50px;
}

.form-content .subtitle {
  color: #999;
  margin-bottom: 30px;
}

form label {
  display: block;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 4px;
  color: #032b56;
}

form input {
  max-width: 40vw;
  padding: 14px 16px;
  font-size: 15px;
  border: 1.5px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: all 0.2s ease;
}

form input:focus {
  border-color: #483eff;
  box-shadow: 0 0 5px rgba(72, 62, 255, 0.3);
}

.error-message {
  color: #e74c3c;
  display: block;
  text-align: right;
  color: red;
  font-size: 13px;
  margin-bottom: 4px;
  margin-right: 70px;
}

#phone-error {
  margin-bottom: 10px;
}

.form-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.next-btn {
  background-color: #032b56;
  color: white;
  padding: 14px 24px;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
}

.next-btn:hover {
  background-color: #05458a;
}  
  
.back-btn {
  border: none;
  cursor: pointer;
  background: white;
  color: #999;
  font-weight: 700;
}

.back-btn:hover {
  font-weight: 900;
}
  
  /* Plan Cards */
  .plans {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .plan-card {
    flex: 1;
    min-width: 3vw;
    min-height: 190px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
  }
  
  .plan-card.selected {
    border-color: #5449A7;
    background-color: #F8F9FE;
    box-shadow: 0 0 3px #5449A7;
  }
  
  .plan-card img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }
  
  .plan-card .bonus {
    font-size: 0.85rem;
    color: #4a90e2;
    margin-top: 5px;
  }
  
  /* Toggle Switch */
  .toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
    height: 40px;
    border-radius: 8px;
    background-color: #e2e4e263;
    font-weight: bold;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color:  #032b56;
    transition: 0.4s;
    border-radius: 24px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color:  #fff;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color:  #032b56;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
 /* Add-on Cards */
.addons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.5rem 0;
}

.addon-card {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem 1rem 1rem 3.2rem;
  cursor: pointer;
  background-color: white;
  transition: 0.3s ease;
  position: relative;
  user-select: none;
  min-width: 38vw;
  max-width: 38vw;
}

.addon-card input[type="checkbox"] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1.2);
  accent-color: #473dff;
  pointer-events: none;
  margin-left: -24vw;
}

.addon-card:hover {
  background-color: #eef2f5;
}

.addon-card.selected {
  border-color: #5449A7;
  background-color: #F8F9FE;
  box-shadow: 0 0 3px #5449A7;
}

.addon-card .addon-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.addon-card h3 {
  margin: 0;
  font-size: 1rem;
  color: #02295a;
}

.addon-card p {
  margin: 0.2rem 0 0;
  color: #9699ab;
  font-size: 0.9rem;
}

.addon-card .price {
  color: #6D61AD;
  font-weight: bold;
}

  
 /* Summary Box */
#summary-box {
  background-color:hsl(228, 100%, 99%);
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  font-size: 20px;
  min-height: 300px;
}

/* Plan Summary Header */
#summary-content .plan-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: hsl(213, 96%, 18%);
  margin-bottom: 8px;
}

#summary-content .summary-plan {
  font-size: 16px;
}

/* Change Plan Link */
#summary-content .change-link {
  font-size: 14px;
  text-decoration: underline;
  color: hsl(231, 11%, 63%);
  cursor: pointer;
  margin-top: 4px;
}

/* Separator */
#summary-content .summary-divider {
  height: 1px;
  background-color: hsl(229, 24%, 87%);
  margin: 15px 0;
}

/* Add-ons */
#summary-content .summary-item {
  display: flex;
  justify-content: space-between;
  color: hsl(231, 11%, 63%);
  font-size: 13px;
  font-weight: bold;

}

/* Total Section */
#summary-content .total {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 0;
  font-weight: bolder;
  font-size: 18px;
  color: hsl(243, 100%, 62%);
}

/* Buttons */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

#back-btn {
  background: none;
  border: none;
  color: hsl(231, 11%, 63%);
  font-weight: bold;
  cursor: pointer;
}

#confirm {
  background-color: #493EFE;
  color: white;
  padding: 14px 24px;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
}

.summary-plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  color: hsl(213, 96%, 18%);
  margin-top: -20px;
  font-weight: bold;
}


.summary-addon,
.summary-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    color: hsl(231, 11%, 63%);
  font-size: 19px;
}

.change-link {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font-size: 0.9rem;
}

.summary-total {
    font-weight: bold;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

  
  /* Confirmation Message */
  #confirmation-message {
    text-align: center;
    padding: 20px;
    font-weight: 400;
    margin-top: 50px;
    color:hsl(231, 11%, 63%) ;
    max-width: 400px;
  }
  
  #confirmation-image {
    width: 60px;
    margin-bottom: 10px;
  }
  
  .Thanks {
    font-weight: 800;
    font-size: 24px;
    color:  hsl(213, 96%, 18%);
  }
  
  .total-price {
    color: #514AB2;
    font-weight: 900;
    font-size: 18px;
  }
  
 
  .hidden {
    display: none;
  }


  /* Common styles for the form */
.form-step {
  padding: 20px;
  margin: 10px;
  background-color: #f5f5f5;
}

h2 {
  color: #333;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}

/* Step Indicators */
.step-indicator {
  display: flex;
  justify-content: space-between;
}

.step-indicator div {
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 50%;
  color: #fff;
}

.step-indicator .active {
  background-color: #4CAF50;
}

/* Active Step */
.step-1.active {
  background-color: #cce7cc;
}

.step-2.active {
  background-color: #cce7cc;
}

#next-step-1 {
  margin-left: 400px;
}

#next-step-2 {
  margin-top: -45px;
}
 
#back-step-2 {
  margin-top: -45px;
  background: none;
}

#next-step-3 {
  margin-top: 15px;
}

#back-step-3 {
  margin-top: 15px;
  background: none;
}

#confirm{
  margin-top: -30px;
}


#back-step-4 {
  margin-top: -30px;
  background: none;
}
/* Responsive Media Queries */




@media screen and (max-width: 1200px) {
  #next-step-1 {
    margin-left: 350px;
  }

}

@media screen and (max-width: 1134px) {
  form input {
    max-width: 30vw;
}

.addon-card {
  min-width: 30vw;
  max-width: 30vw;
}

#next-step-1 {
  margin-left: 250px;
  margin-top: -20px;
}

.addon-card input[type="checkbox"] {
  margin-left: -20vw;
}

#confirm,
#back-step-4 {
  margin-top: -40px;
}
}

@media screen and (max-width: 1000px) {


.plann {
  font-size:12px ;
}

  .plan-card img {
    width: 30px;
    height: 30px;
  }
  
  .plan-card .bonus {
    font-size: 0.85rem;
  }

  #next-step-1 {
    margin-left: 200px;
  }

  #next-step-2, 
  #back-step-2 {
    margin-top: -55px;
  }
}

@media screen and (max-width: 954px) {
  .multi-step-form {
    min-width: 80vw;
    max-width: 80vw;
   
  }

  #next-step-1 {
    margin-left: 190px;
  }

#next-step-2,
#back-step-2 {
    margin-top: -65px;
    margin-bottom: 30px;
  }

  #confirm,
#back-step-4 {
  margin-top: 50px;
}
}

@media screen and  (min-width: 500px) and  (max-width: 900px) {
 .multi-step-form   {
    overflow-y: scroll;
  }

  .sidebar {
    width: 250px;
    min-height: 700px;
  }

  .plans {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  

  .plan-card {
    min-width: 200px;
    max-width: 200px;
   min-height: 90px;
   max-height: 90px;
   gap: 7px;
  }

  .plann {
    font-size:10px ;
  }

  .plan-card img {
    width: 20px;
    height: 20px;
  }
  
  .plan-card .bonus {
    font-size: 0.75rem;
  }

  .plan-card .price {
    font-size: 8px 
  }

  .addon-card {
    min-width: 30vw;
    max-width: 30vw;
  }

  .addon-card input[type="checkbox"] {
    margin-left: -23vw;
  }
  
  #next-step-1 {
    margin-left: 160px;
  }
}

@media screen and (max-width: 815px) {
  form input {
    max-width: 26vw;
  }

  #next-step-1 {
    margin-left: 120px;
  }
}

@media screen and (max-width: 729px) {
  .addon-card {
    min-width: 25vw;
    max-width: 25vw;
  }

  .addon-card input[type="checkbox"] {
    margin-left: -20vw;
  }

  #next-step-1 {
    margin-left: 100px;
  }
}

@media screen and (max-width: 690px) {

  .plan-card {
    min-width: 150px;
    max-width: 150px;
  }

  .addon-card {
    min-width: 20vw;
    max-width: 20vw;
  }

  .addon-card input[type="checkbox"] {
    margin-left: -18vw;
  }

  .addon-card h3 {
    margin: 0;
    font-size: 0.7rem;
    color: #02295a;
  }
  
  .addon-card p {
    margin: 0.2rem 0 0;
    color: #9699ab;
    font-size: 0.5rem;
  }
  
  .addon-card .price {
    color: #6D61AD;
    font-weight: bolder;
    font-size: 0.6rem;
  }

  #confirmation-message {
    max-width: 140px;
    font-size: 11px;
  }

  .form-content {
    width: 80vw;
    margin-left: -23px;
  }

  #next-step-1 {
    margin-left: 60px;
  }


  .summary-plan {

    font-size: 15px;
  }
  
  
  .summary-addon,
  .summary-total {
    font-size: 12px;
  }
  
  .change-link {
      font-size: 0.8rem;
  }
  
  .summary-total {
    font-size: 13px;
}
}

@media screen and (max-width: 522px) {
.plan-card {
    min-width: 130px;
    max-width: 130px;  
}

.addon-card input[type="checkbox"] {
  margin-left: -22vw;
}


.nice {
  font-size: 13px;
}
}

@media screen and (max-width: 480px) and (max-height:927px) {

  body {
    background-color: white;
  }


  .multi-step-form {
    flex-direction: column;
    min-width: 122%;
    background:#EEF5FF;
    border-radius: 8px;
    overflow: hidden;
    min-height: 760px;
    margin-bottom: 20px;
    overflow-y: hidden;
    margin-top: -30px;
  }

  .sidebar {
    width: 100%;
    height: 170px;
    flex-direction: row;
    background-image: url("images/bg-sidebar-mobile.svg");
    padding: 8px;
    background-size: cover;
    margin-left: 0;
    margin-top: 0;
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .step {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
   margin-top: 30px;
  }

  .form-content {
    width: 93%;
    padding: 20px;
    margin-left: -5px;
    margin-top: -100px;
    overflow-y: none;
    max-height: 420px;
  }

  .step-content {
    display: none;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    overflow: none;
  }

  .step-content h2 {
    margin-top: 20px;
  }

  .mobile-hide {
    display: none;
  }

form input {
  max-width: 70vw;
}

  #next-step-1 {
    position: absolute;
    margin-top: 80px;
    margin-left: 170px;
  }
  #next-step-2 {
    position: absolute;
    margin-top: -10px;
    margin-left: 250px;
  }
  #next-step-3 {
    position: absolute;
    margin-top: 220px;
    margin-left: 250px;
  }
  #confirm {
    position: absolute;
    margin-top: 150px;
    margin-left: 260px;
  }

  .back-btn {
    position: absolute;
    font-size: 19px;
  }

 #back-step-3 {
  margin-top: 220px;
 }
 #back-step-4 {
  position: absolute;
  margin-top: 150px;
 }

  .plans {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .plan-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 12px;
    cursor: pointer;
    background: #fff;
    text-align: left;
    transition: all 0.3s ease;
  min-height: 90px;
    overflow: hidden;
    min-width: 300px;
  }
  
  .plan-card img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }
  
  .plan-card h3 {
    font-size: 19px;
    margin: 0;
    color: hsl(213, 96%, 18%);
    font-weight: bolder;
  }
  
  .plan-card .price {
    font-size: 17px;
    margin: 0;
    color: hsl(231, 11%, 63%);
    font-weight: bolder;
  }
  
  .plan-card .bonus {
    font-size: 17px;
    margin: 0;
    color: hsl(213, 96%, 18%);
    font-weight: bolder;
  }
  
  .plan-card > div,
  .plan-card h3,
  .plan-card .price,
  .plan-card .bonus {
    flex: 1;
  }
  
  .plans {
    padding: 0;
    margin: 0;
    gap: 10px;
  }
  
  .step-content2 {
    height: 590px;
    overflow-y: none;
  }
  
  .subtitle {
    font-size: 18px;
  }
  
  .plann {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .addon-card {
    min-width: 60vw;
    max-width: 60vw;
  }

  .addon-card input[type="checkbox"] {
    margin-left: -43vw;
  }

  .addon-card h3 {
    font-size: 1.1rem;
  }
  
  .addon-card p {
    font-size: 0.9rem;
  }
  
  .addon-card .price {
    font-size: 1rem;
  }

  #summary-content .summary-plan {
    font-size: 18px;
  }
  
  /* Change Plan Link */
  #summary-content .change-link {
    font-size: 16px;
    font-weight: bolder;
  }
  
  /* Add-ons */
  #summary-content .summary-item {
    font-weight: bolder;
    font-size: 16px;
  }
  
  /* Total Section */
  #summary-content .total {
    font-weight: bolder;
    font-size: 20px;
  }

  #summary-box {
    height: 280px;
  }

  #next-step-1 {
    margin-left: 220px;
    margin-top: 180px;
  }
  
  #next-step-2{
    margin-top: -8px;
  }

  #back-step-2 {
    margin-top: 8px;
  }
  
  #next-step-3 {
    margin-top: 220px;
  }

  #back-step-3 {
    margin-top: 230px;
  }
  
  #confirm,
  #back-step-4 {
    margin-top: 135px;
  }

  #confirmation-message {
    max-width: 270px;
    font-size: 17px;
    margin-left: 20px;
  }

  
.nice {
  font-size: 16px;
}
  
}
@media screen and (max-width: 480px) and (max-height:850px) {

  .plan-card {
    min-width: 260px;
  }
 
#next-step-1 {
  margin-left: 220px;
  margin-top: 120px;
}

#next-step-2{
  margin-top: -70px;
  margin-left: 210px;
}

#back-step-2 {
  margin-top: -60px;
  background: none;
}

#next-step-3 {
  margin-top: 130px;
  margin-left: 210px;
}

#back-step-3 {
  margin-top: 140px;
  background: none;
}

#confirm {
  margin-top: 40px;
  margin-left: 210px;
}
#back-step-4 {
  margin-top: 40px;
  background: none;
}

  .step-content2 {
    height: 560px;
    overflow-y: none;
  }
  
}



@media screen and (max-width: 480px) and (max-height:813px) {


  .multi-step-form {
    min-height: 740px;
  }

  .form-content {
    margin-top: -109px;
  }

  .plan-card {
    min-width: 260px;
  }
 
#next-step-1 {
  margin-left: 180px;
  margin-top: 90px;
}

#next-step-2{
  margin-top: -80px;
  margin-left: 180px;
}

#back-step-2 {
  margin-top: -70px;
  background: none;
}

#next-step-3 {
  margin-top: 100px;
  margin-left: 180px;
}

#back-step-3 {
  margin-top: 110px;
  background: none;
}

#confirm {
  margin-top: 40px;
  margin-left: 190px;
}
#back-step-4 {
  margin-top: 40px;
  background: none;
}
  
  
  .step-content2 {
    height: 550px;
    overflow-y: none;
  }
  
}
